@import "~/.config/rofi/config.rasi"

* {
    background-color: @background;
    text-color: @foreground;
}

window {
    width: 300px;
}

inputbar {
    children: [ prompt, textbox-prompt-colon, entry ];
    padding: 8px 12px;
}

entry {
    placeholder: "";
    text-color: @foreground-alt;
}

prompt {
    text-color: @accent;
}